.enviar{
    background: green;
    border: none;
    border-radius: 10px;
    color: white;
    text-align: center;
    font-weight: bold; 
}
.cancelar{
    background: #aa0909;
    border: none;
    border-radius: 10px;
    color: white;
    text-align: center;
    font-weight: bold;  
}
.enviar:hover{
    background: rgb(6, 68, 6);
    box-shadow: 0 0 10px green;
}
.cancelar:hover{
    background: #630909;
    box-shadow: 0 0 10xp #aa0909;
}